.magasins {
  padding: 0 2rem;

  &__container {
    margin: 2rem 0 6rem;
    display: grid;
    gap: 2rem;

    li:first-child {
      article {
        color: $purple;
        background-color: $light-purple;
        .phone-number{
          color: $purple;
          &:before{
            background-image: url("../images/phone-purple.svg");
          }
        }
      }
    }
    li:last-child {
      article {
        color: black;
        background-color: $yellow;
        .phone-number{
          color: black;
          &:before{
            background-image: url("../images/black.svg");
          }
        }
      }
    }

    &__item {
      justify-content: center;
      border-radius: 1.5rem;
      color: white;
      background-color: $purple;
      padding: 2.5rem 2rem;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      &__header {
        display: flex;
        gap: 0.5rem;
        flex-direction: column;

        h3 {
          font-family: $poppins-semibold;
          font-size: 1.5rem;
        }

        p {
          font-family: $poppins-regular;
        }
      }

      ul {
        font-family: $poppins-light;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        h4 {
          font-family: $poppins-medium;
        }
      }
    }

    .phone-number {
      position: relative;
      font-family: $poppins-medium;
      color: white;
      text-decoration: none;
      padding-left: 2.2rem;
      &:before{
        position: absolute;
        content: '';
        background-image: url("../images/phone-white.svg");
        background-size: contain;
        width: 2rem;
        height: 2rem;
        left: -0.2rem;
        top: -50%;
      }
    }

  }

  &__map {
    margin-bottom: 6rem;
    img {
      border-radius: 1rem;
    }
  }
}


@media (min-width: 800px) {
  .magasins {
    padding: 0 6rem;

    &__container {
      grid-template-columns: 1fr 1fr;

      &__item {
        padding: 1rem 2rem;
        min-height: 20.625rem;
      }
    }

  }
}

@media (min-width: 1000px) {
  .magasins {
    &__container {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}