$shantell : 'Shantell Sans', Times, serif;
$poppins-semibold : 'Poppins-SemiBold', Helvetica, serif;
$poppins-regular : 'Poppins-Regular', Helvetica, sans-serif;
$poppins-light : 'Poppins-Light', Helvetica, sans-serif;
$poppins-medium : 'Poppins-Medium', Helvetica, sans-serif;
$primary: #ffc003;
$secondary: #BAE8E8;
$third: #272343;
$labeur : #272343;



@font-face {
  font-family: 'Icon';
  src: url("../fonts/icomoon.ttf");
}
@font-face {
  font-family: 'Shantell Sans';
  src: url("../fonts/ShantellSans-VariableFont_BNCE,INFM,SPAC,wght.ttf");
}
@font-face {
  font-family: 'Poppins-SemiBold';
  src: url("../fonts/Poppins-SemiBold.ttf");
}
@font-face {
  font-family: 'Poppins-Regular';
  src: url("../fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: 'Poppins-Light';
  src: url("../fonts/Poppins-Light.ttf");
}
@font-face {
  font-family: 'Poppins-Medium';
  src: url("../fonts/Poppins-Medium.ttf");
}