.contact{
  &__formulaire{
    margin-bottom: 4rem;
    fieldset{
      background-color: #FAFAFA;
      border-radius: 1.5rem;
      padding: 2.5rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      input, label, textarea{
        box-sizing: border-box;
        width: 100%;
        display: block;
      }
      label{
        font-family: $poppins-semibold;
        font-size: 1.1rem;
      }
      input, textarea{
        margin-top: 0.5rem;
        font-family: $poppins-regular;
        background: none;
        border-radius: 0.5rem;
        border: 1px solid #BABABA;
        color: $labeur;
        padding: 0.8rem;
        &:focus{
          border-color: $primary;
          color: $labeur;
          outline: none;
        }
      }

      button{
        background-color: $primary;
        color: $labeur;
        padding: 1rem;
        border: none;
        border-radius: 0.5rem;
        font-size: 1.1rem;
        font-family: $poppins-semibold;
        transition: 0.3s ease;
        &:hover{
          background-color: $third;
          color: $primary;
        }
      }

    }
    &__np{
      display: grid;
      gap: 3rem;
      grid-template-columns: 1fr 1fr;
    }
    .form-error{
      margin-top: 0.5rem;
      color: #ff6767;
      font-family: $poppins-medium;
    }
  }
}