.articles {
  padding: 0 2rem;
  margin-top: 4rem;

  &__container {
    margin: 3rem 0;
    display: grid;
    grid-gap: 2rem;

    a {
      text-decoration: none;
      color: black;
    }

    &__item {
      background-color: #FAFAFA;
      border-radius: 0 0 0.5rem 0.5rem;
      transition: 0.3s ease;

      &:hover {
        transform: scale(1.02);
      }

      img {
        border-radius: 0.5rem 0.5rem 0 0;
        height: 10rem;

      }

      &__content {
        display: flex;
        flex-direction: column;
        gap: 1.4rem;
        padding: 1rem 2rem 2rem;
        border-radius: 0 0 0.5rem 0.5rem;

        &__upper {
          display: flex;
          flex-direction: column;
          gap: 0.6rem;
        }
        &__text{
          display: grid;
          gap: 2rem;
        }

        h3 {
          font-size: 1.3rem;
          font-family: $poppins-semibold;
        }

        span {
          font-size: 1rem;
          font-family: $poppins-medium;
          text-transform: capitalize;
          color: $secondary;
        }

        .text {
          font-family: $poppins-light;
          margin-bottom: 0;
          font-size: 1rem;
          color: #616161;
        }

        p {
          font-family: $poppins-light;
          font-size: 0.8rem;
          color: #A6A6A6;
        }
      }
    }
  }
}

@media (min-width: 600px) {
  .articles {
    &__container {
      gap: 3.75rem;
      margin-bottom: 8rem;
      grid-template-columns: 1fr 1fr;
    }
  }

}

@media (min-width: 800px) {
  .articles {
    padding: 0 6rem;
  }
}

@media (min-width: 1200px) {
  .articles {
    &__container {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

}